@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


html {
  overflow:hidden;
}

.body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "header"
  "textContext";
  background-color: #F3F3F3;
  min-height: 100vh;
}


/*****************************TEXTOS*************************************/
.promotion-desc-title {
  color: #002350;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  font-size: 3.5vh;
  text-align: center;
}

.promotion-desc-subtitle {
  color: #002350;
  font-weight: 400;
  font-family: 'Comfortaa', cursive;
  font-size: 3vh;
  text-align: center;
}

.form-title {
  color: #FFFFFF;
  font-weight: 600;
  font-family: 'Comfortaa', cursive;
  font-size: 2.5vh;
  text-align: start;
}

#participantRankingPrize, #prizes-title, #ranking-title, #coupon-desc, #desc-referr-link{
  font-weight: 600;
  font-family: 'Comfortaa', cursive;
}

#pos-part-ranking, #name-part-ranking, #points-part-ranking, #part-prize-price-1, #part-prize-price-2, #ranking-subtitle, #coupon-desc-2, #desc-part-pos, #pos-part, #desc-part-prize, #part-prize-price-3, #email-not-found, #desc-part-without-pos, #form-label-name, #form-label-last-name, #form-label-dni, #form-label-email, #form-label-phone, #label-step, #coupon, #referr-link, #copy-coupon, #copy-link{
  font-weight: 400;
  font-family: 'Comfortaa', cursive;
}



/***************************** HEADER *************************************/
.header-container {
  display: grid;
  grid-area: 'header';
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100vw;
  background-color: #002350;
}

.logo-container{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.logo-image{
  max-width: 100%;
}


/***************************** DESCRIPTION ******************************/
.desc-section-container {
  display: grid;
  grid-area: 'textContext';
  grid-column: span 3;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  background-color: #F3F3F3;
}

.desc-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.desc-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.desc-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100%;
}

.title-container{
  margin: 0 15px;
  overflow-wrap: break-word;
}

.desc-container{
  margin: 0 15px;
  overflow-wrap: break-word;
}

.ranking-container{
  display: grid;
  grid-row: 2 / 3;
  grid-column: span 2;
}

.ranking{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.promotional-image{
  display: none;
}

.ranking-button-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}


/***************************** FORM *************************************/
.form-section-container {
  width: 100%;
  height: 15vh;
  position: relative;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  bottom: 0;
}

.form-swipeable-container {
  background-color: #14D2B9;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0 auto;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  z-index: 100;
}

.form-div {
  padding: 30px 10px 10px 10px;
}

.form-button-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 5%;
  width: 100%;
  left: 0;
  top: 0.5px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.button-to-slide {
  height: 1vh;
  width: 6vh;
  border-radius: 30px;
  border-style: none;
  background-color: #FFFFFF;
}

.form-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.form-title-container{
  /* background-color: red; */
}

.formulary{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 80vh;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#step-label{
  color: #000000;
  font-weight: 300;
  font-family: 'Comfortaa', cursive;
}

#form-card-container{
  width: 100%; 
  height: 75%; 
}

.swal-button {
  background-color: #4E53DB;
  border-radius: 25px; 
  font-weight: 400;
  font-family: 'Comfortaa', cursive;
}


/******************************** RANKING *******************************/
#ranking-button{
  background-color: #002350; 
  color: #FFFFFF;
  border-radius: 25px; 
  text-transform: none;
  font-weight: 400;
  font-family: 'Comfortaa', cursive;
  max-width: 100%;
}

#ranking-button-2, #button-ranking-3{
  background-color: #14D2B9; 
  color: #FFFFFF;
  border-radius: 25px; 
  text-transform: none; 
  font-family: 'Comfortaa', cursive;
  margin: 20px auto;
}

#ranking-button-form, #form-button-1, #form-button-2, #coupon-button-1, #coupon-button-2{
  border-radius: 25px; 
  text-transform: none; 
  font-family: 'Comfortaa', cursive;
}


.pos-item-circle{
  display: flex; 
  width: 30px; 
  height: 30px; 
  border-radius: 30px; 
  background-color: white; 
  justify-content: center; 
  align-items: center
}

.ranking-list-item {
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  background-color: #405A7C; 
  margin-bottom: 10px; 
  border-radius: 100px; 
  padding: 15px
}


#ranking-card, #message-coupon-card, #ranking-card-2{
  width: 95vw; 
  height: 65vh; 
  background-color: #002350; 
  border-radius: 50px
}

#ranking-form-card{
  width: 100%; 
  height: 150px; 
  padding-top: 20px; 
  background-color: #FFFFFF; 
  margin-top: 10px; 
  border-color: #14D2B9;
  border-style: solid; 
  border-width: 3px
}


/***************************** MEDIA QUERIES ****************************/

@media screen and (min-width: 1000px){

  .body {
    background-color: #002350;
  }

/******************* DESCRIPTION ********************/
.desc-section-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80% 20%;
  border-radius: 80px;
  width: 90%;
  margin: 0 auto;
}

.desc-container-2 {
  width: 50vw;
}

.promotional-image{
  display: grid;
  grid-column: 2 / 3;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.promotion-image{
  max-width: 20vw;
  max-height: 40vh
}

.desc-container-3{
  width: 100%;
}

.title-container{
  padding: 0 20px 0 20px;
}

/******************* FORM ********************/
.form-swipeable-container {
  width: 80%;
}

#form-card-container{
  height: 75%;
}

/******************************** RANKING *******************************/
#ranking-card, #message-coupon-card, #ranking-card-2{
  width: 60vw; 
  height: 60vh; 
  border-radius: 50px;
  background-color: #002350;
}

}