html {
  overflow:hidden;
}

/* .App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
} */

.App-header {
  /* min-height: 100px; */
  display: flex;
  height: 12vh;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #002350;
  /* font-size: calc(10px + 2vmin); */
}

.App-body {
  background-color: #002350;
  /* display: inline-flex; */
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.App-section-container {
  display: flex;
  position: absolute;
  top: 12vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  height: 80vh;
  background-color: #F3F3F3;
  border-radius: 80px;
}


/*****************************TEXTOS*************************************/

.App-text-header-title {
  color: #002350;
  font-family: 'Comfortaa Semibold';
  font-size: 5vh;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.App-text-header-description {
  color: #002350;
  font-weight: 450;
  font-family: 'Comfortaa Light';
  font-size: 3vh;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.App-text-form-title {
  color: white;
  font-weight: 600;
  font-family: 'Comfortaa Semibold';
  font-size: 3vh;
  text-align: start;
}

.App-text-form-description {
  color: white;
  font-weight: 450;
  font-family: 'Comfortaa Light';
  font-size: 2vh;
  text-align: start;
}

p{
  font-family: 'Comfortaa Medium';
  color: #FFFFFF;
}

input{
  padding:5px;
  font-size:16px;
  font-family:'Comfortaa';    
}
/************************************************************************/



/***************************** LOGO *************************************/

.App-section-logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 12vh;
  /* bottom: 60px;
  right: 130px; */
  background-color: red;
}

.App-section-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 12vh;
  /* bottom: 60px;
  right: 130px; */
}

.profile-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  /* margin: 0 0px 0 100px; */
}

.App-logo {
  /*Al momento del video grabado en el celu estaba en 130px*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
}
/************************************************************************/



/***************************** DESCRIPTION ******************************/

.App-section-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80vh;
  /* height: 60vh; */
  /* background-color: red; */
}

.App-section-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70vh;
  /* height: 30vh; */
  /* padding-top: 150px; */
}

.App-description-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 160px;
  height: 10%;
  top: 58vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* background-color: blueviolet; */
}

/************************************************************************/



/***************************** WAVE *************************************/

.App-section-form2 {
  display: flex;
  /* min-height: 20vh; */
  width: 100%;
  z-index: 20;
}


.custom-shape-divider-top-1632780241 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1632780241 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1632780241 .shape-fill {
  fill: #EDF3FB;
}
/************************************************************************/


/***************************** FORM *************************************/

.swipeable-form-container {
  /* background-color: mediumspringgreen; */
  /* opacity: 0.5; */
  width: 100%;
  height: 20vh;
  position: absolute;
  bottom: 0;
}

.div-form {
  padding: 20px;
}

.swipeable-form {
  background-color: #14D2B9;
  width: 80%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 2vh;
  margin: 0 auto;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  z-index: 100;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App-container-button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 5%;
  width: 100%;
  left: 0;
  top: 0.5px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.App-button-slide {
  height: 8px;
  width: 45px;
  border-radius: 30px;
  border-style: none;
  background-color: #FFFFFF;
}

/************************************************************************/



/***************************** BLOB *************************************/

.App-section-blob-container {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.App-section-blob {
  position: absolute;
  left: -1vw;
  bottom: 55vh;
  opacity: 0.1;
}

.App-section-blob2 {
  position: absolute;
  left: -1.5vw;
  bottom: 56vh;
  opacity: 0.1;
}

.App-section-blob3 {
  position: absolute;
  left: 38vw;
  bottom: 57vh;
  opacity: 0.1;
}

.App-section-blob4 {
  position: absolute;
  left: 37vw;
  bottom: 58vh;
  opacity: 0.1;
}

.App-section-blob5 {
  position: absolute;
  right: 5vw;
  bottom: 37vh;
  opacity: 0.1;
}

.App-section-blob6 {
  position: absolute;
  right: -6vw;
  bottom: -20vh;
  opacity: 0.1;
}
/************************************************************************/



/***************************** MEDIA QUERIES ****************************/

@media screen and (max-width: 700px) {

  .swipeable-form {
    width: 100%;
  }

  .App-section-blob-container {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  
  .profile-logo {
    width: 100%;
    margin: 0 auto;
  }

  .App-section-description{
    padding-bottom: 0;
    height: 60vh;
  }
}

@media screen and (max-width: 756px) {
  .App-text-header-title {
    font-size: 4vh;
  }

  .App-logo{
    margin: 0 auto;
    padding-left: 0;
  }

  .App-section-description {
    padding-top: 3vh;
  }
}

@media (min-width: 701px) and (max-width: 986px) {
  .App-text-header-title {
    font-size: 4vh;
  }
}

@media screen and (max-width: 1000px) {
  .App-section-container{
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .swipeable-form{
    width: 100%;
  }

  .App-section-blob {
    left: -3vw;
    bottom: 75vh;
  }
  
  .App-section-blob2 {
    left: -3.5vw;
    bottom: 76vh;
  }
  
  .App-section-blob3 {
    left: 48vw;
    bottom: 77vh;
  }
  
  .App-section-blob4 {
    left: 47vw;
    bottom: 78vh;
  }
  
  .App-section-blob5 {
    right: 1vw;
    bottom: 60vh;
  }
  
  .App-section-blob6 {
    right: -8vw;
    bottom: 3vh;
  }

}